.Überschrift {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #252627;
    color: #e6e7e8;
}

header {
    background-color: #1f2020;
    min-height: 100px;
    width: 100%;
}

footer {
    background-color: #1f2020;
    min-height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.buttonBack {
        border-style: outset;
        border-color: rgb(27, 27, 29);
        border-radius: 7%;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
}

.buttonBack {background-color: rgb(27, 27, 29);}
    .buttonBack:hover {
        background-color: rgb(15, 15, 15);
        transition-duration: 0.3s;
        border-color: #252627;
        border-style: inset;
        color: #868686;
    }

.buttonNoBack {
    border-style: outset;
    border-color: rgb(27, 27, 29);
    border-radius: 7%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: not-allowed;
}

.buttonNoBack {background-color: rgb(27, 27, 29);}
    .buttonNoBack:hover {
        background-color: rgb(15, 15, 15);
        transition-duration: 0.3s;
        border-color: #252627;
        border-style: inset;
        color: #868686;
    }

.buttonNormal {
    border-style: outset;
    border-color: rgb(27, 27, 29);
    border-radius: 7%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}

.buttonNormal {background-color: rgb(38, 38, 41);}
    .buttonNormal:hover {
        background-color: rgb(24, 24, 24);
        transition-duration: 0.3s;
        border-color: #252627;
        border-style: inset;
        color: #868686;
    }